#thirdPageQuote{
    top: 197px;
    left: 117px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: #212529;

}

#thirdPageAuthor{
    top: 310px;
    left: 377px;
    font-family: "Nunito", sans-serif;
    font-size: 26px;
    color: #093F68;
}

#selectfield {
    background-color: rgba(255, 255, 255, 0.7);
}

.dropdown{
    width: 200px;
    cursor: pointer;
}

#list{
    width: 100%;
    padding: 0;
}

.options{
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.options:hover{
    background-color:  #F7F7F9;
}


.options img{
    width: 50px;
    height: 50px;
}

.selectWrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
}

#expirience{
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    width: 350px;
    border-bottom: 1px solid #E5E6E8;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#expirience:focus {
    outline: none;
}

.dropdown{
    width: 350px;
    border-bottom: 1px solid #E5E6E8;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#list{
    position: absolute;
    top: 450px;
    left: 1393px;
    z-index: 1000;
    width: 350px;
    background-color: white;
}

