#thirdPageQuote{
    top: 197px;
    left: 117px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: #212529;

}

#thirdPageAuthor{
    top: 310px;
    left: 377px;
    font-family: "Nunito", sans-serif;
    font-size: 26px;
    color: #093F68;
}

#selectfield {
    background-color: rgba(255, 255, 255, 0.7);
}

.dropdown{
    width: 200px;
    cursor: pointer;
}

#list{
    width: 100%;
}

.options{
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.options:hover{
    background-color:  #F7F7F9;;
}


.options img{
    width: 50px;
    height: 50px;
}

.selectWrap{
    display: flex;
    justify-content: space-between;
}