#thirdPageQuote{
    top: 197px;
    left: 117px;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 26px;
    color: #212529;

}

#thirdPageAuthor{
    top: 310px;
    left: 377px;
    font-family: "Nunito", sans-serif;
    font-size: 26px;
    color: #093F68;
}

#selectfield {
    background-color: rgba(255, 255, 255, 0.7);
}

.dropdown{
    width: 200px;
    cursor: pointer;
}

#list{
    width: 100%;
    padding: 0;
    position: absolute;
    transform: translateY(12px);
    z-index: 1000;
    width: 350px;
    background-color: white;
    box-shadow: 5px 10px 8px #888888;
    border: 1px solid rgba(185, 180, 196, 0.3);
    border-radius: 4px;
}

.options{
    cursor: pointer;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-left: 18px;
    padding: 0;
}

.options:hover{
    background-color:  #F7F7F9;
}


.selectWrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

#expirience{
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    width: 340px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-bottom: 1px solid #E5E6E8;

}

#expirience:focus {
    outline: none;
}

.dropdown{
    width: 340px;
    border-bottom: 1px solid #E5E6E8;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.grandmasterImg{
    width: 90px ;
    height: 90px;
    border-radius: 4px;
    
    margin-right: 4px;
    
}

#grandmasterImg3{
    height: 85px ;
    margin-right: 4px;
}

#grandmasterImg4{
    height: 100px ;
    margin-right: 4px;
}

#radio{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 174px;
}

#question{
    font-size: 20px;
    color: #212529;
    margin-bottom: 8px;
    font-weight: 400;
}

.radioLabel{
    font-size: 16px;
    color: #212529;
    
}

.doneBtn{
    width: 99px;
    height: 53px;
    font-size: 20px;
}

.doneBtn:hover{
    transform: translate(3px, -3px);
}

.totalFour{
    color: #817D7D;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 16px;
    margin-left: 24px;
}

#pageInfo{
    margin-bottom: 95px;
}

.selectNameWrap{
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0;
   padding: 0;
}

.openClose{
    Width: 10px;
    Height: 7px;
}



#selectImgWrap{
    width: 350px;
    
}

.rotate{
    transform: rotate(180deg);
}

.knowledgeOpenImg{
    position: absolute;
    transform: translate(-14px, 10px);
}

.selectRedStar{
    position:absolute;
    color:red;
    transform: translate(-167px);
 }